aio_pika==9.5.5
alembic>=1.16.5
black==25.1.0
fastapi[standard]
asyncpg==0.30.0
aiomysql==0.2.0
httpx==0.28.1
pydantic_settings==2.8.1
pydantic==2.10.6
sqlalchemy==2.0.41
pymysql==1.1.1
psycopg2-binary==2.9.10
