CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    token VARCHAR(255),
    priority INT NOT NULL
);

INSERT INTO users (token, priority) VALUES 
('Token with lower priority', 1),
('Token with higher priority', 2);